// This is a single-page application. This page
// Serves as an entry-point into the React app
doctype html
html(lang="en")
    head
        title="Drawing"
    body
        #container
        script(src="/assets/js/componentsbundle.js")
