// This is a single-page application. This page
// Serves as an entry-point into the React app
doctype html
html(lang="en")
    head
        title="Drawing"
        link(href="/assets/css/main.css", type="text/css", rel="stylesheet")
    body
        #container
        script(src="/assets/js/componentsbundle.js")
        script(src="/assets/js/jquery.js")
        script(src="/assets/js/materialize.min.js")
