// This is a single-page application. This page
// Serves as an entry-point into the React app
doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
    head
        title="Drawing"
        link(href="/assets/css/main.css", type="text/css", rel="stylesheet")
        meta(property="og:title", content="Drawing")
        meta(property="og:description", content="A drawing by me")
        meta(property="og:type", content="website")
        meta(property="og:image", content="/assets/favicon.png")
    body
        script.
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '222823994764251',
                xfbml      : true,
                version    : 'v2.6'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        #container
        script(src="/assets/js/componentsbundle.js")
        script(src="/assets/js/jquery.js")
        script(src="/assets/js/materialize.min.js")
