// This is a single-page application. This page
// Serves as an entry-point into the React app
doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
    head
        title="Drawing"
        link(href="/assets/css/main.css", type="text/css", rel="stylesheet")
        meta(property="og:title", content="Drawing")
        meta(property="og:description", content=message)
        meta(property="og:type", content="website")
        meta(property="og:image", content="")
    body
        #container
        script(src="/assets/js/componentsbundle.js")
        script(src="/assets/js/jquery.js")
        script(src="/assets/js/materialize.min.js")
